<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SreplacePrePlugin" value="D:\_TPCCR\_PRIMO\TPCCR17-InnoDomTransformation\Pre\SReplace.NET.exe"/>
    <add key="SreplacePostPlugin" value="D:\_TPCCR\_PRIMO\TPCCR17-InnoDomTransformation\Post\SReplace.NET.exe"/>
    <add key="TemporaryPath" value="D:\_TPCCR\_PRIMO\TPCCR17-InnoDomTransformation\_Temp"/>
    <add key="OutputPath" value="D:\_TPCCR\_PRIMO\TPCCR17-InnoDomTransformation\_Output"/>
  </appSettings>
</configuration>