Options -Indexes 
ErrorDocument 403 '<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><head><title>403 Forbidden</title></head><h1 style="font-family:Arial, Helvetica, sans-serif; text-align:center; margin-top:200px;">Sorry, access to this page is forbidden.</h1></body></html>
ErrorDocument 404 '<h1 style="font-family:Arial, Helvetica, sans-serif; text-align:center; margin-top:200px;">404 Page not found</h1>'