<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SReplaceTBL" value="Preprocess.tbl"/>
    <add key="TABLEPATH" value="C:\xampp\htdocs\tpccr\iChecker\PlugIn"/>
    <add key="INPUTPATH" value="d:\Working"/>
    <add key="OUTPUTPATH" value="d:\working"/>
    <add key="OutputExt" value=""/>
    <add key="InputFileLevel" value="NO"/>
    <add key="FileMask" value="*.*"/>
    <add key="AllowPatternViewer" value="OFF"/>
    <add key="AllowSameInputandOutput" value="ON"/>
    <add key="CommentIndicator" value="###"/>
    <add key="EncodingType" value="Same as input file"/>    <!--Same as input file,ANSI,Default,Unicode,BigEndianUnicode,UTF-7,UTF-8,UTF-32-->
    <add key="EnableTMS" value="OFF"/>
    <add key="WMS" value="OFF"/>
    <add key="WMSProcessCode" value="XMLTftn"/>
    <add key="WMSProcessID" value="1"/>
    <add key="WMSProcessStatus" value="ongoing"/>
    <add key="WMSWorkFlowName" value="HTML WorkFlow"/>
    <add key="WMSConnectionString" value="Data Source=10.160.0.30\SQL03;Initial Catalog=JPMC_wms;User Id=oos;Password=it-oos"/>


    <!--AUTOMODE SETTING-->
    <add key="AutoMode" value="OFF"/>
    <add key="AutoModeSTSLevel" value="1"/>
    <add key="AutoModeInputSTSString" value="iOCR Completed"/>
    <add key="AutoModeOutputSTSString" value="WRD Completed"/>
    <add key="AutoModeInputFileLevel" value="2"/>
    <add key="AutoModeOVerwriteFile" value="OFF"/>

    <!--PLUGIN SETTING-->
    <add key="LoadTableBrowser" value="OFF"/>
    <add key ="SDMS" value ="OFF" />
  </appSettings>
</configuration>
